<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'partials/base.html' %}
    {% block content %}
    <p>이름 | 제목 | 작성 날짜</p>
        <ul>
            {% for article in article_list%}
                <li> {{ article.name }} | <a href="community/view_detail/{{ article.id }}"> {{ article.title }} </a> | {{ article.cdate|date:"Y년 M d일D" }}</li>
            {% endfor %}

        </ul>
    {% endblock content %}
</body>
</html>