<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <canvas id="myChart"></canvas>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
    <script>
        const ctx = document.getElementById('myChart');
        
        const data = {
            datasets: [{
                label: 'First Dataset',
                data: [
                    {
                    x: 28,
                    y: 22,
                    r: 15
                    }, 
                    {
                    x: 36,
                    y: 20,
                    r: 10
                    },
                    {
                    x: 31,
                    y: 20.6,
                    r: 40
                    }
                ],
                backgroundColor: 'rgb(255, 99, 132)'
            }]
        };

        const config = {
            type: 'bubble',
            data: data,
            options: {}
        };

        new Chart(ctx, config);
      </script>
</body>
</html>