<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'partials/base.html' %}
    {% load crispy_forms_tags %}
    {% block content %}

    <div class="row mt-3 pt-3">
        <div class="col-4">
            <div class="border p-3 shadow">
                <h4>Add Data</h4>
                <hr>
                <form action="" method="POST">
                    {{form | crispy}} {% csrf_token %}
                <div class="d-grid gap-2 mt-2"><input type="submit" class="btn btn-success btn-block" value="입력"></div>
                </form>
            </div>
            
        </div>
        <div class="col">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block script %}
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for cntry in country_datas %}
                        '{{cntry.country}}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'population',
                    data: [
                        {% for cntry in country_datas %}
                            '{{cntry.population}}',
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            }
        });
    </script>
    {% endblock script %}

</body>
</html>